body {
   margin: 0 !important;
   padding: 0 !important;
   font-size: 13px !important;
   font-family: 'SF Pro Text' !important;
}

/*------------containers-------------------*/

.main_container_AD {
   position: relative;
   padding: 2rem 3rem 3rem 3rem;
   box-sizing: border-box;
   display: grid;
   grid-gap: 3rem;
   z-index: -1;
}

.detail_view_cover {
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   display: none;
   box-sizing: border-box;
}

.detail_view_AD {
   display: none;
   z-index: 20;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   height: calc(80%);
   border-radius: 10px;
   box-sizing: border-box;
   overflow: hidden;
   position: absolute;
}

.loading_cover {
   height: 100vh !important;
   width: 100vw !important;
   overflow: hidden;
   position: absolute;
   top: 0;
   display: none;
   box-sizing: border-box;
}

.loading_cover p {
   position: absolute;
   width: auto;
   display: inline-block;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 5px 10px;
   background-color: #fff;
   color: #000;
   font-size: 1.2em;
   font-family: 'SF Pro Text Medium';
   border-radius: 2px;
}


.card_AD {
   position: relative;
   box-sizing: border-box;
   height: 18rem;
   overflow: hidden;
   z-index: 1000;
}

.image_container_AD {
   position: relative;
   width: 100%;
   overflow: hidden;
   border-radius: 10px;
   height: 85%;
   text-align: center;
}

.image_container_AD img {
   position: relative;
   height: 100%;
   transform: translateX(-50%);
   left: 50%;
   min-width: 100%;
   object-fit: cover;
   box-sizing: border-box;
   z-index: -100;
}

.breed_name_container_AD {
   position: relative;
   height: 15%;
}

.breed_name_container_AD p {
   margin: 0;
   position: relative;
   top: 50%;
   width: 90%;
   text-align: center;
   transform: translateY(-50%);
   margin: auto;
   color: #000;
   font-size: 1.5em;
   font-family: 'SF Pro Text Black';
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   display: inherit;
}

.card_AD:hover {
   cursor: pointer;
}

.card_AD:focus {
   outline: none;
   background-color: transparent;
}

/*------------changed--------------*/

.sub_detail_container_AD {
   position: relative;
   width: 100%;
   box-sizing: border-box;
   height: 100%;
}

.sub_detail_container_AD .close {
   position: absolute;
   top: 0;
   right: 0;
   padding: 10px 13px;
   font-size: 1.5em;
   z-index: 2;
   color: #000;
   background-color: #fff;
   border-radius: 100px;
}

.detail_left_AD {
   width: 40%;
   height: 94%;
   margin: 2%;
   position: relative;
   border-radius: 5px;
   display: inline-block;
   overflow: hidden;
   float: left;
   box-sizing: border-box;
}

.detail_left_AD img {
   position: relative;
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
   box-sizing: border-box;
   z-index: -100;
}

.detail_right_AD {
   height: 94%;
   width: 100%;
   max-width: 50%; 
   float: left;
   padding:1% 2%;
   margin: 1.5% 0;
   background-color: #fff;
   border-radius: 5px;
   position: relative;
   box-sizing: border-box;
   display: inline-block;
}

.lines {
   width: 100%;
   margin-top: 20px;
}

.lines h5 {
   margin: 0;
   font-size: 1.5em;
   font-family: 'Courier Custom Italic';
   padding: 2px 10px 1px 10px;
   background-color: #ff4668;
   color: #fff;
   border-radius: 2px;
   box-sizing: border-box;
   display: inline-block;
}

.lines p {
   display: inline-block;
   margin: 0;
   padding-left: 5px;
   font-size: 1.2em;
}

.about_dog_AD {
   height: 100%;
   width: 100%;
   position: relative;
}



.delete_dog_btn {
   font-size: 1.6em;
   position: absolute;
   bottom: 30px;
   padding: 10px 0;
   font-family: "Courier Custom Bold";
   border: none;
   border-radius: 4px;
   background-color: #e5e5e5;
   width: 100%;
}

.delete_dog_btn:hover, .delete_dog_btn:focus {
   background: linear-gradient(45deg, #Ef8172, #ff4668);
   color: #fff;
   outline: none;
}

/*------------media query 1--------------*/
@media only screen and (min-width: 1320px) {
   .main_container_AD {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem 2%;
   }

   .detail_left_AD {
      margin: 1.5%;
   }

}

/*------------media query 2--------------*/

@media only screen and (max-width: 1321px) and (min-width: 1110px) {
   .main_container_AD {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem 4%;
   }

   .detail_view_AD {
      height: 85%;
      width: 85%;
   }
   
   .detail_right_AD {
      margin: 2%;
   }
}

/*------------media query 3--------------*/

@media only screen and (max-width: 1111px) and (min-width: 721px) {
   .main_container_AD {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem 4%;
      padding: 1.5rem 20px 3rem 20px;
      overflow-x: hidden;
   }

   .detail_left_AD {
      width: 45%;
      margin: 2.5% 0% 2.5% 2%;
   }

   .detail_view_AD {
      height: 100%;
      width: 100%;
      position: fixed;
      border-radius: 0;
   }
   
   .detail_right_AD {
      margin: 2.5% 2%;
      max-width: 49%;
   }
}

/*------------media query 4--------------*/

@media only screen and (max-width: 720px) {
   .main_container_AD {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
   }

   .detail_left_AD {
      width: 94%;
      height: 40%;
      margin: 2% 3%;
   }

   .detail_view_AD {
      height: 100%;
      width: 100%;
      position: fixed;
      border-radius: 0;
   }

   .sub_detail_container_AD .close {
      right: 10px;
      padding: 20px;
      font-size: 2.2em;
      color: #191919;
      padding: 5px 9px;
      top: 10px;
   }

   .detail_right_AD {
      margin: 0% 3%;
      max-height: 54%;
      max-width: 94%;
   }
   
   .lines {
      margin-top: 10px;
   }
   
   .lines h5 {
      font-size: 1.5em;
   }
   
   .lines p {
      font-size: 1.2em;
   }
}

/*------------media query 5 (for mobile)--------------*/

@media only screen and (max-device-width: 480px) {

   .card_AD {
      height: 48vh;
      width: 100%:
   }

   .detail_left_AD {
      width: 94%;
      height: 35%;
      margin: 3% 3% 2% 3%;
   }

   .detail_view_AD {
      height: 100vh;
      border-radius: 0;
      width: 100%;
      position: fixed;
   }

   .main_container_AD {
      grid-template-columns: repeat(1, 1fr);
      padding: 1.5rem 1rem;
      grid-gap: 1rem;
   }

   .breed_name_container_AD p {
      font-size: 1.8em;
   }

   .sub_detail_container_AD .close {
      right: 10px;
      top: 10px;
      padding: 5px 9px;
      font-size: 2.2em;
      color: #191919;
   }
   
   .detail_right_AD {
      font-size: 1.2em;
      margin: 0% 3%;
      max-height: 60%;
      max-width: 94vw;
   }
   
   .lines {
      margin-top: 10px;
   }
   
   .lines h5 {
      font-size: 1.1em;
   }
   
   .lines p {
      font-size: 1em;
   }
   
   .delete_dog_btn {
      bottom: 25px;
      width: 94%;
      margin: auto;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.3em;
   }

}
